@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Hemos encontrado un error en tu solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>

<p>
   la hemos liado, disculpa las molestias
</p>
