<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./defi.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">hola</h1>
            <br />
            <br />
            <br />
            <h3>¡Puedo solucionar cualquiera de tus dudas!</h3>
            <br />
            <br />
            <a href="@Url.Content("~/chatgpt")" class="btn btn-primary">Iniciar</a>
            <br />
            <br />
            <br />
            <img src="./defi.png" alt="Robotin" class="robotin-image">
            <br />
        </div>
    </div>
</body>
</html>
