@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Privacidad"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./defi.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="d-flex align-items-center">
             <h1>Nos la pelan tus datos</h1>
            <img src="@Url.Content("~/sintexto.png")" alt="Robotin" class="robotin-imageask" />
        </div>
       
      <br />
    
        <p>OpenAI se compromete a proteger y respetar la privacidad de sus usuarios. Esta política de privacidad explica cómo recopilamos, utilizamos, compartimos y protegemos la información personal que obtenemos de los usuarios de nuestros servicios, incluido el uso de nuestros productos y aplicaciones basadas en inteligencia artificial.</p>
        <p>Al utilizar nuestros servicios, aceptas la recopilación, el uso y la divulgación de tus datos personales de la manera descrita en esta política de privacidad.</p>
        
        <p>Utilizamos la información recopilada para proporcionarte nuestros servicios, mejorar y personalizar tu experiencia, desarrollar nuevos productos y servicios, y proteger a OpenAI y a sus usuarios.</p>
        <p>No compartimos tu información personal con terceros, excepto en las circunstancias detalladas en nuestra política de privacidad, como cuando es necesario para prestar nuestros servicios, cumplir con la ley o proteger nuestros derechos legales.</p>
       

        <p>Como usuario, tienes ciertos derechos en relación con tus datos personales, como el derecho a acceder, corregir, eliminar o restringir el uso de tus datos. También tienes derecho a objetar el procesamiento de tus datos personales y a retirar tu consentimiento en cualquier momento. Para ejercer estos derechos, comunícate con nosotros a través de los datos de contacto proporcionados en nuestra política de privacidad.</p>

        <p>Si tienes preguntas o inquietudes sobre nuestra política de privacidad o nuestras prácticas de manejo de datos personales, no dudes en ponerte en contacto con nosotros.</p>
       
    </div>
</body>

